@import "vendors/mixin.scss", 
        "vendors/normalize.scss",
        "vendors/rules.scss";


@import "components/button.scss";

.test_selectors{
        text-align: center;
}

.test_selectors{
        text-align: center;
}
.test_selectors{
        text-align: center;
}
.test_selectors{
        text-align: center;
}
.test_selectors{
        text-align: center;
}
.test_selectors{
        text-align: center;
}

